extends ../layout

block head
  title Home

block content
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          span.glyphicon.glyphicon-fire
          |                 	Logo
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='#') Media
          li
            a(href='#') Links
          li.active
            a(href='#') Home
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') Contact
  .container
    .row
      .col-lg-12
        h1.page-header
          | Homo Ludens e il virtuale
          small Il videogioco nel futuro
    .row
      .col-md-6.portfolio-item
        a(href='#')
          img.img-responsive(src='images/quote.jpg', alt='quote')
        h3
          a(href='#') Project Title
        p
          | Insert something
      .col-md-6.portfolio-item
        a(href='#')
            img.img-responsive(src='images/quote2.jpg', alt='quote2')
        h3
            a(href='#') Project Title
        p
          | Insert about game theory
    .row
      .col-md-6.portfolio-item
        a(href='#')
          img.img-responsive(src='images/relation.jpg', alt='relation')
        h3
          a(href='#') Project Title
        p
          | wip
      .col-md-6.portfolio-item
        a(href='#')
          img.img-responsive(src='images/kojima.jpg', alt='kojima_logo')
        h3
          a(href='#') Project Title
        p
          | Insert paragraph about game dev's philosophy
    .row
      .col-md-6.portfolio-item
        a(href='#')
          img.img-responsive(src='images/stranding.jpg', alt='stranding')
        h3
          a(href='#') Project Title
        p
          | wip
      .col-md-6.portfolio-item
        a(href='#')
          img.img-responsive(src='images/worldbuilding.jpg', alt='quote3')
        h3
          a(href='#') Project Title
        p
          | lorem ipsum
    .row.text-center
      .col-lg-12
        ul.pagination
          li
            a(href='#') «
          li.active
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »
  footer
    .footer-blurb
      .container
        .row
          .col-sm-4.footer-blurb-item
            img.img-circle(src='images/photo_huizinga.jpg', alt='', width='100', height='100')
            h3 Nella sociologia
            p
              | wip
            p
              a.btn.btn-primary(href='#') More Stuff
          .col-sm-4.footer-blurb-item
            img.img-circle(src='images/photo_pirandello.jpg', alt='', width='100', height='100')
            h3 Nella letteratura
            p
              | wip
            p
              a.btn.btn-primary(href='#') More Stuff
          .col-sm-4.footer-blurb-item
            img.img-circle(src='images/photo_kojima.jpg', alt='', width='100', height='100')
            h3 Nella modernità
            p
              | wip
            p
              a.btn.btn-primary(href='#') More Stuff
    .copyright
      .container
        p Copyright © Julian Kvalvaag 2017
